.transactionHistory {
  display: flex;
  flex-direction: column;
  text-align: center;
}

table {
  margin-top: 30px;
}

thead tr {
  padding: 10px;
}

table th {
  font-size: 20px;
}

table tr {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 40px;
  align-items: center;
}
table td {
  text-align: center;
  width: 50px;
}
